.infomsg
.chatmsg
    position relative
    overflow hidden

    .chattime
        position absolute
        top 0
        right 0
        float none
        
.infomsg a
    color #31c471
    text-decoration underline

    &:hover
        text-decoration none

.jetstuff-ignoreduser
    position relative

    .chatusertext
    .chattime
    .jetstuff-userid
        color #b57a5a
    .chatmsg
        position absolute
        top 100%
        left 0
        right 0
        opacity 0.92
        background-color #344c45
        transform-origin 0 0
        transform rotateX(-90deg)
        transition transform .15s linear
        z-index 2
        
    &:hover
        .chatmsg
            margin-bottom 0
            transform rotateX(0)

.jetstuff-highlight
    border-left 3px solid #31c471
    margin-left -7px
    padding-left 4px

.jetstuff-mention
    border-color #ffed75

.jetstuff-userid
    color #31c471
    vertical-align text-top
    cursor default
    font-size 11px
    margin-left 4px
    opacity 0.5

.jetstuff-hasalts
    cursor pointer

.jetstuff-help
    font-size 12px
    overflow hidden
    margin-bottom 6px
    
    dt
        float left
        clear left
        font-weight normal
        font-style normal
        
        &:after
            content "-"
            display inline-block
            padding 0 6px

    dd
        margin-left 24px
        
.jetstuff-userlist
.jetstuff-filterlist
    font-size 12px
    margin 0 0 6px
    padding 0 6px
    list-style none
    
.jetstuff-labellist
    font-size 12px
    margin 0 0 6px
    padding 0 6px 0 0 
    list-style none
    li
        margin-bottom 3px
        padding-left 12px
        &:last-child
            margin-bottom 0

.jetstuff-credits
.jetstuff-summary
    opacity 0.66
    font-size 12px
        
    a
        color #31c471
        text-decoration underline
        outline 0

        &:hover,
        &:active,
        &:focus
            text-decoration none
